<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{instance_name}} - Epl {{version}}</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
</head>
<body>
    <main class="container">
        <hgroup>
            <h1>{{instance_name}}</h1>
            <h3>— Running Epl {{version}}</h3>
        </hgroup>
        <hr />
        <h5>An open-source reimplementation of Discord's backend. (For fun and profit!)</h5>
    </main>
    <footer class="container">
        <a href="https://gitlab.com/uwueviee/epl">Source Code</a>
    </footer>
</body>
</html>